


#constraint QDR_CQ_P/N clocks
NET "mig_v3_61_qdrii_400Mhz/c0_u_user_top/*/clk_rd*" TNM_NET = "TNM_c0_QDRIIP_clk_rd";
TIMESPEC TS_c0_QDRIIP_clk_rd = PERIOD "TNM_c0_QDRIIP_clk_rd" 5.0 ns HIGH 50 %;
############################################################################
########################################################################
# Controller 2
# Memory Device: QDRIIPLUS_SRAM->Components->CY7C1563V18-400BZXC
# Data Width:     18
# Frequency:      400
# Time Period:      2.5ns
########################################################################


################################################################################
# I/O STANDARDS
################################################################################

NET "c0_qdriip_d[0]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[10]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[11]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[12]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[13]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[14]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[15]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[16]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[17]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[1]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[2]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[3]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[4]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[5]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[6]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[7]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[8]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_d[9]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_sa[0]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[10]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[11]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[12]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[13]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[14]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[15]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[16]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[17]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[18]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[19]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[1]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[2]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[3]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[4]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[5]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[6]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[7]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[8]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_sa[9]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_w_n" IOSTANDARD = HSTL_I;
NET "c0_qdriip_r_n" IOSTANDARD = HSTL_I;
NET "c0_qdriip_dll_off_n" IOSTANDARD = HSTL_I;
NET "c0_qdriip_bw_n[0]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_bw_n[1]" IOSTANDARD = HSTL_I;
# JBC NET  "c0_qdriip_cal_done"                       IOSTANDARD = LVCMOS25;
# JBC NET  "c0_qdriip_compare_error"                  IOSTANDARD = LVCMOS25;
NET "c0_qdriip_cq_p[0]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_cq_n[0]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_qvld[0]" IOSTANDARD = HSTL_I_DCI;
NET "c0_qdriip_k_p[0]" IOSTANDARD = HSTL_I;
NET "c0_qdriip_k_n[0]" IOSTANDARD = HSTL_I;




###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
CONFIG DCI_CASCADE = "17 16";


##################################################################################
# Location Constraints
##################################################################################
#Bank 17
NET "c0_qdriip_d[0]" LOC = L42;
#Bank 17
NET "c0_qdriip_d[1]" LOC = L41;
#Bank 17
NET "c0_qdriip_d[2]" LOC = L40;
#Bank 17
NET "c0_qdriip_d[3]" LOC = M39;
#Bank 17
NET "c0_qdriip_d[4]" LOC = L39;
#Bank 17
NET "c0_qdriip_d[5]" LOC = M37;
#Bank 17
NET "c0_qdriip_d[6]" LOC = N38;
#Bank 17
NET "c0_qdriip_d[7]" LOC = M36;
#Bank 17
NET "c0_qdriip_d[8]" LOC = M38;
#Bank 17
NET "c0_qdriip_d[9]" LOC = N36;
#Bank 17
NET "c0_qdriip_d[10]" LOC = P37;
#Bank 17
NET "c0_qdriip_d[11]" LOC = P38;
#Bank 17
NET "c0_qdriip_d[12]" LOC = R38;
#Bank 17
NET "c0_qdriip_d[13]" LOC = M42;
#Bank 17
NET "c0_qdriip_d[14]" LOC = M41;
#Bank 17
NET "c0_qdriip_d[15]" LOC = N40;
#Bank 17
NET "c0_qdriip_d[16]" LOC = N39;
#Bank 17
NET "c0_qdriip_d[17]" LOC = R39;
#Bank 17
NET "c0_qdriip_q[0]" LOC = R42;
#Bank 17
NET "c0_qdriip_q[1]" LOC = R40;
#Bank 17
NET "c0_qdriip_q[2]" LOC = P42;
#Bank 17
NET "c0_qdriip_q[3]" LOC = P41;
#Bank 17
NET "c0_qdriip_q[4]" LOC = T40;
#Bank 17
NET "c0_qdriip_q[5]" LOC = T36;
#Bank 17
NET "c0_qdriip_q[6]" LOC = R35;
#Bank 17
NET "c0_qdriip_q[7]" LOC = U36;
#Bank 17
NET "c0_qdriip_q[8]" LOC = T34;
#Bank 16
NET "c0_qdriip_q[9]" LOC = AA34;
#Bank 16
NET "c0_qdriip_q[10]" LOC = W32;
#Bank 16
NET "c0_qdriip_q[11]" LOC = U32;
#Bank 16
NET "c0_qdriip_q[12]" LOC = V34;
#Bank 17
NET "c0_qdriip_q[13]" LOC = T35;
#Bank 17
NET "c0_qdriip_q[14]" LOC = T42;
#Bank 17
NET "c0_qdriip_q[15]" LOC = T41;
#Bank 16
NET "c0_qdriip_q[16]" LOC = W42;
#Bank 16
NET "c0_qdriip_q[17]" LOC = Y42;
#Bank 16
NET "c0_qdriip_sa[19]" LOC = U34;
#Bank 16
NET "c0_qdriip_sa[18]" LOC = AA32;
#Bank 16
NET "c0_qdriip_sa[17]" LOC = AA35;
#Bank 16
NET "c0_qdriip_sa[16]" LOC = U41;
#Bank 16
NET "c0_qdriip_sa[15]" LOC = V40;
#Bank 16
NET "c0_qdriip_sa[14]" LOC = W38;
#Bank 16
NET "c0_qdriip_sa[13]" LOC = W40;
#Bank 16
NET "c0_qdriip_sa[12]" LOC = V39;
#Bank 16
NET "c0_qdriip_sa[11]" LOC = V38;
#Bank 16
NET "c0_qdriip_sa[10]" LOC = W37;
#Bank 16
NET "c0_qdriip_sa[9]" LOC = W36;
#Bank 16
NET "c0_qdriip_sa[8]" LOC = V36;
#Bank 16
NET "c0_qdriip_sa[7]" LOC = U37;
#Bank 16
NET "c0_qdriip_sa[6]" LOC = U38;
#Bank 16
NET "c0_qdriip_sa[5]" LOC = AA36;
#Bank 16
NET "c0_qdriip_sa[4]" LOC = W35;
#Bank 16
NET "c0_qdriip_sa[3]" LOC = Y37;
#Bank 16
NET "c0_qdriip_sa[2]" LOC = V35;
#Bank 16
NET "c0_qdriip_sa[1]" LOC = U39;
#Bank 16
NET "c0_qdriip_sa[0]" LOC = U42;
#Bank 16
NET "c0_qdriip_w_n" LOC = Y33;
#Bank 16
NET "c0_qdriip_r_n" LOC = Y35;
#Bank 16
NET "c0_qdriip_dll_off_n" LOC = Y32;
#Bank 17
NET "c0_qdriip_bw_n[0]" LOC = N35;
#Bank 17
NET "c0_qdriip_bw_n[1]" LOC = P35;
# JBC NET  "c0_qdriip_cal_done"                        LOC = "AF31" ;          #Bank 24
# JBC NET  "c0_qdriip_compare_error"                   LOC = "M12" ;          #Bank 35
#Bank 17
NET "c0_qdriip_cq_p[0]" LOC = P36;
#Bank 17
NET "c0_qdriip_cq_n[0]" LOC = T39;

##################################################################################################
##QVLD pin(s) is/are not being used by the design rtl files.
##You may delete the following LOC constraint(s) to use this/these pin(s) for other signal(s).
##################################################################################################
#Bank 17
NET "c0_qdriip_qvld[0]" LOC = N41;
##################################################################################################

#Bank 16
NET "c0_qdriip_k_p[0]" LOC = V41;
#Bank 16
NET "c0_qdriip_k_n[0]" LOC = W41;

# JBC
CONFIG INTERNAL_VREF_BANK16 = "0.75";
# JBC
CONFIG INTERNAL_VREF_BANK17 = "0.75";


########################################################################################
##Phase Detector Constraints:                                                         ##
########################################################################################

########################################################################################
##The phase detector must be on a pin that is within +/- 1 bank vertically relative   ##
##to the memory interface system MMCM.  It must also be within the range of the BUFIO ##
##driven by the CQ pin (+/- 1 bank for multi-region clock pins, same bank for non     ##
##multi-region) The pad is not used. If a different pin is chosen, the corresponding  ##
##LOC constraint must also be changed.                                                ##
########################################################################################

##Site: P40 -- Bank: 17
#INST "mig_v3_61_qdrii_400Mhz/c0_u_user_top/u_qdr_phy_top/u_phy_read_top/nd_io_inst[0].gen_enable_pd.u_phy_qdr_pd/QDR2_PD_TRIP.u_pd_oserdes"
#  LOC = "OLOGIC_X0Y213";

########################################################################################
##Pin currently reserved for Phase Detector. The pin(s) prohibited below cannot be    ##
##used for other functions and should not be connected externally.                    ##
########################################################################################

CONFIG PROHIBIT = P40;


######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################

#Banks 17, 27, 37
INST "mig_v3_61_qdrii_400Mhz/c0_u_infrastructure/u_mmcm_gen" LOC = MMCM_ADV_X0Y8;
############################################################################
# Timing constraints                                                        #
############################################################################



#constraint QDR_CQ_P/N clocks
NET "mig_v3_61_qdrii_400Mhz/c1_u_user_top/*/clk_rd*" TNM_NET = "TNM_c1_QDRIIP_clk_rd";
TIMESPEC TS_c1_QDRIIP_clk_rd = PERIOD "TNM_c1_QDRIIP_clk_rd" 5.0 ns HIGH 50 %;
############################################################################
########################################################################
# Controller 3
# Memory Device: QDRIIPLUS_SRAM->Components->CY7C1563V18-400BZXC
# Data Width:     18
# Frequency:      4000
# Time Period:      2.5ns
########################################################################


################################################################################
# I/O STANDARDS
################################################################################

NET "c1_qdriip_d[0]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[10]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[11]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[12]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[13]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[14]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[15]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[16]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[17]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[1]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[2]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[3]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[4]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[5]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[6]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[7]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[8]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_d[9]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_sa[0]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[10]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[11]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[12]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[13]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[14]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[15]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[16]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[17]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[18]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[19]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[1]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[2]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[3]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[4]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[5]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[6]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[7]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[8]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_sa[9]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_w_n" IOSTANDARD = HSTL_I;
NET "c1_qdriip_r_n" IOSTANDARD = HSTL_I;
NET "c1_qdriip_dll_off_n" IOSTANDARD = HSTL_I;
NET "c1_qdriip_bw_n[0]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_bw_n[1]" IOSTANDARD = HSTL_I;
# JBC NET  "c1_qdriip_cal_done"                       IOSTANDARD = LVCMOS25;
# JBC NET  "c1_qdriip_compare_error"                  IOSTANDARD = LVCMOS25;
NET "c1_qdriip_cq_p[0]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_cq_n[0]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_qvld[0]" IOSTANDARD = HSTL_I_DCI;
NET "c1_qdriip_k_p[0]" IOSTANDARD = HSTL_I;
NET "c1_qdriip_k_n[0]" IOSTANDARD = HSTL_I;




###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
CONFIG DCI_CASCADE = "15 14";


##################################################################################
# Location Constraints
##################################################################################
#Bank 15
NET "c1_qdriip_d[0]" LOC = AA41;
#Bank 15
NET "c1_qdriip_d[1]" LOC = AC38;
#Bank 15
NET "c1_qdriip_d[2]" LOC = AB38;
#Bank 15
NET "c1_qdriip_d[3]" LOC = AB39;
#Bank 15
NET "c1_qdriip_d[4]" LOC = AB37;
#Bank 15
NET "c1_qdriip_d[5]" LOC = AE35;
#Bank 15
NET "c1_qdriip_d[6]" LOC = AE34;
#Bank 15
NET "c1_qdriip_d[7]" LOC = AD33;
#Bank 15
NET "c1_qdriip_d[8]" LOC = AE33;
#Bank 15
NET "c1_qdriip_d[9]" LOC = AB36;
#Bank 15
NET "c1_qdriip_d[10]" LOC = AC36;
#Bank 15
NET "c1_qdriip_d[11]" LOC = AE38;
#Bank 15
NET "c1_qdriip_d[12]" LOC = AD38;
#Bank 15
NET "c1_qdriip_d[13]" LOC = AD37;
#Bank 15
NET "c1_qdriip_d[14]" LOC = AC41;
#Bank 15
NET "c1_qdriip_d[15]" LOC = AB42;
#Bank 15
NET "c1_qdriip_d[16]" LOC = AB41;
#Bank 15
NET "c1_qdriip_d[17]" LOC = AA42;
#Bank 15
NET "c1_qdriip_q[0]" LOC = AF42;
#Bank 15
NET "c1_qdriip_q[1]" LOC = AF41;
#Bank 15
NET "c1_qdriip_q[2]" LOC = AE42;
#Bank 15
NET "c1_qdriip_q[3]" LOC = AD42;
#Bank 15
NET "c1_qdriip_q[4]" LOC = AD40;
#Bank 15
NET "c1_qdriip_q[5]" LOC = AC40;
#Bank 15
NET "c1_qdriip_q[6]" LOC = AD36;
#Bank 15
NET "c1_qdriip_q[7]" LOC = AC34;
#Bank 15
NET "c1_qdriip_q[8]" LOC = AB33;
#Bank 15
NET "c1_qdriip_q[9]" LOC = AE40;
#Bank 15
NET "c1_qdriip_q[10]" LOC = AE39;
#Bank 15
NET "c1_qdriip_q[11]" LOC = AC33;
#Bank 14
NET "c1_qdriip_q[12]" LOC = AH34;
#Bank 14
NET "c1_qdriip_q[13]" LOC = AF35;
#Bank 14
NET "c1_qdriip_q[14]" LOC = AG36;
#Bank 14
NET "c1_qdriip_q[15]" LOC = AJ37;
#Bank 14
NET "c1_qdriip_q[16]" LOC = AL41;
#Bank 14
NET "c1_qdriip_q[17]" LOC = AM41;
#Bank 14
NET "c1_qdriip_sa[19]" LOC = AG34;
#Bank 14
NET "c1_qdriip_sa[18]" LOC = AK37;
#Bank 14
NET "c1_qdriip_sa[17]" LOC = AJ35;
#Bank 14
NET "c1_qdriip_sa[16]" LOC = AH39;
#Bank 14
NET "c1_qdriip_sa[15]" LOC = AJ41;
#Bank 14
NET "c1_qdriip_sa[14]" LOC = AJ40;
#Bank 14
NET "c1_qdriip_sa[13]" LOC = AK42;
#Bank 14
NET "c1_qdriip_sa[12]" LOC = AH41;
#Bank 14
NET "c1_qdriip_sa[11]" LOC = AH40;
#Bank 14
NET "c1_qdriip_sa[10]" LOC = AK38;
#Bank 14
NET "c1_qdriip_sa[9]" LOC = AJ38;
#Bank 14
NET "c1_qdriip_sa[8]" LOC = AG41;
#Bank 14
NET "c1_qdriip_sa[7]" LOC = AG37;
#Bank 14
NET "c1_qdriip_sa[6]" LOC = AF37;
#Bank 14
NET "c1_qdriip_sa[5]" LOC = AF34;
#Bank 14
NET "c1_qdriip_sa[4]" LOC = AJ36;
#Bank 14
NET "c1_qdriip_sa[3]" LOC = AF39;
#Bank 14
NET "c1_qdriip_sa[2]" LOC = AG38;
#Bank 14
NET "c1_qdriip_sa[1]" LOC = AJ42;
#Bank 14
NET "c1_qdriip_sa[0]" LOC = AG42;
#Bank 14
NET "c1_qdriip_w_n" LOC = AF40;
#Bank 14
NET "c1_qdriip_r_n" LOC = AG39;
#Bank 14
NET "c1_qdriip_dll_off_n" LOC = AH35;
#Bank 15
NET "c1_qdriip_bw_n[0]" LOC = AA40;
#Bank 15
NET "c1_qdriip_bw_n[1]" LOC = AE32;
# JBC NET  "c1_qdriip_cal_done"                        LOC = "A14" ;          #Bank 35
# JBC NET  "c1_qdriip_compare_error"                   LOC = "A15" ;          #Bank 35
#Bank 15
NET "c1_qdriip_cq_p[0]" LOC = AD32;
#Bank 15
NET "c1_qdriip_cq_n[0]" LOC = AE37;

##################################################################################################
##QVLD pin(s) is/are not being used by the design rtl files.
##You may delete the following LOC constraint(s) to use this/these pin(s) for other signal(s).
##################################################################################################
#Bank 15
NET "c1_qdriip_qvld[0]" LOC = AD41;
##################################################################################################

#Bank 14
NET "c1_qdriip_k_p[0]" LOC = AL42;
#Bank 14
NET "c1_qdriip_k_n[0]" LOC = AM42;

# JBC
CONFIG INTERNAL_VREF_BANK15 = "0.75";
# JBC
CONFIG INTERNAL_VREF_BANK14 = "0.75";


########################################################################################
##Phase Detector Constraints:                                                         ##
########################################################################################

########################################################################################
##The phase detector must be on a pin that is within +/- 1 bank vertically relative   ##
##to the memory interface system MMCM.  It must also be within the range of the BUFIO ##
##driven by the CQ pin (+/- 1 bank for multi-region clock pins, same bank for non     ##
##multi-region) The pad is not used. If a different pin is chosen, the corresponding  ##
##LOC constraint must also be changed.                                                ##
########################################################################################

##Site: AB32 -- Bank: 15
#INST "mig_v3_61_qdrii_400Mhz/c1_u_user_top/u_qdr_phy_top/u_phy_read_top/nd_io_inst[0].gen_enable_pd.u_phy_qdr_pd/QDR2_PD_TRIP.u_pd_oserdes"
#  LOC = "OLOGIC_X0Y135";

########################################################################################
##Pin currently reserved for Phase Detector. The pin(s) prohibited below cannot be    ##
##used for other functions and should not be connected externally.                    ##
########################################################################################

CONFIG PROHIBIT = AB32;


######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################

#Banks 17, 27, 37
INST "mig_v3_61_qdrii_400Mhz/c1_u_infrastructure/u_mmcm_gen" LOC = MMCM_ADV_X0Y4;
############################################################################
# Timing constraints                                                        #
############################################################################



#constraint QDR_CQ_P/N clocks
NET "mig_v3_61_qdrii_400Mhz/c2_u_user_top/*/clk_rd*" TNM_NET = "TNM_c2_QDRIIP_clk_rd";
TIMESPEC TS_c2_QDRIIP_clk_rd = PERIOD "TNM_c2_QDRIIP_clk_rd" 5.0 ns HIGH 50 %;
############################################################################
########################################################################
# Controller 4
# Memory Device: QDRIIPLUS_SRAM->Components->CY7C1563V18-400BZXC
# Data Width:     18
# Frequency:      400
# Time Period:      2.5ns
########################################################################


################################################################################
# I/O STANDARDS
################################################################################

NET "c2_qdriip_d[0]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[10]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[11]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[12]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[13]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[14]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[15]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[16]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[17]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[1]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[2]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[3]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[4]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[5]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[6]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[7]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[8]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_d[9]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_sa[0]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[10]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[11]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[12]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[13]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[14]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[15]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[16]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[17]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[18]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[19]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[1]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[2]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[3]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[4]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[5]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[6]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[7]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[8]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_sa[9]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_w_n" IOSTANDARD = HSTL_I;
NET "c2_qdriip_r_n" IOSTANDARD = HSTL_I;
NET "c2_qdriip_dll_off_n" IOSTANDARD = HSTL_I;
NET "c2_qdriip_bw_n[0]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_bw_n[1]" IOSTANDARD = HSTL_I;
# JBC NET  "c2_qdriip_cal_done"                       IOSTANDARD = LVCMOS25;
# JBC NET  "c2_qdriip_compare_error"                  IOSTANDARD = LVCMOS25;
NET "c2_qdriip_cq_p[0]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_cq_n[0]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_qvld[0]" IOSTANDARD = HSTL_I_DCI;
NET "c2_qdriip_k_p[0]" IOSTANDARD = HSTL_I;
NET "c2_qdriip_k_n[0]" IOSTANDARD = HSTL_I;




###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
CONFIG DCI_CASCADE = "13 12";


##################################################################################
# Location Constraints
##################################################################################
#Bank 13
NET "c2_qdriip_d[0]" LOC = AT42;
#Bank 13
NET "c2_qdriip_d[1]" LOC = AR42;
#Bank 13
NET "c2_qdriip_d[2]" LOC = AP41;
#Bank 13
NET "c2_qdriip_d[3]" LOC = AP40;
#Bank 13
NET "c2_qdriip_d[4]" LOC = AN40;
#Bank 13
NET "c2_qdriip_d[5]" LOC = AL37;
#Bank 13
NET "c2_qdriip_d[6]" LOC = AM39;
#Bank 13
NET "c2_qdriip_d[7]" LOC = AN39;
#Bank 13
NET "c2_qdriip_d[8]" LOC = AN41;
#Bank 13
NET "c2_qdriip_d[9]" LOC = AT41;
#Bank 13
NET "c2_qdriip_d[10]" LOC = AR40;
#Bank 13
NET "c2_qdriip_d[11]" LOC = AM34;
#Bank 13
NET "c2_qdriip_d[12]" LOC = AL35;
#Bank 13
NET "c2_qdriip_d[13]" LOC = AU42;
#Bank 13
NET "c2_qdriip_d[14]" LOC = AU39;
#Bank 13
NET "c2_qdriip_d[15]" LOC = AW42;
#Bank 13
NET "c2_qdriip_d[16]" LOC = AW41;
#Bank 13
NET "c2_qdriip_d[17]" LOC = AV41;
#Bank 13
NET "c2_qdriip_q[0]" LOC = BA42;
#Bank 13
NET "c2_qdriip_q[1]" LOC = BB41;
#Bank 13
NET "c2_qdriip_q[2]" LOC = BA41;
#Bank 13
NET "c2_qdriip_q[3]" LOC = BA40;
#Bank 13
NET "c2_qdriip_q[4]" LOC = AY40;
#Bank 13
NET "c2_qdriip_q[5]" LOC = AR39;
#Bank 13
NET "c2_qdriip_q[6]" LOC = AM37;
#Bank 13
NET "c2_qdriip_q[7]" LOC = AM36;
#Bank 13
NET "c2_qdriip_q[8]" LOC = AK35;
#Bank 13
NET "c2_qdriip_q[9]" LOC = AL36;
#Bank 12
NET "c2_qdriip_q[10]" LOC = AN35;
#Bank 12
NET "c2_qdriip_q[11]" LOC = AP36;
#Bank 12
NET "c2_qdriip_q[12]" LOC = AU34;
#Bank 12
NET "c2_qdriip_q[13]" LOC = AW36;
#Bank 12
NET "c2_qdriip_q[14]" LOC = BA34;
#Bank 12
NET "c2_qdriip_q[15]" LOC = BB34;
#Bank 13
NET "c2_qdriip_q[16]" LOC = AW40;
#Bank 13
NET "c2_qdriip_q[17]" LOC = AV40;
#Bank 12
NET "c2_qdriip_sa[19]" LOC = AT37;
#Bank 12
NET "c2_qdriip_sa[18]" LOC = BB37;
#Bank 12
NET "c2_qdriip_sa[17]" LOC = AU36;
#Bank 12
NET "c2_qdriip_sa[16]" LOC = AR38;
#Bank 12
NET "c2_qdriip_sa[15]" LOC = BB38;
#Bank 12
NET "c2_qdriip_sa[14]" LOC = BB39;
#Bank 12
NET "c2_qdriip_sa[13]" LOC = BA39;
#Bank 12
NET "c2_qdriip_sa[12]" LOC = AR35;
#Bank 12
NET "c2_qdriip_sa[11]" LOC = AR37;
#Bank 12
NET "c2_qdriip_sa[10]" LOC = AW38;
#Bank 12
NET "c2_qdriip_sa[9]" LOC = AY39;
#Bank 12
NET "c2_qdriip_sa[8]" LOC = AV39;
#Bank 12
NET "c2_qdriip_sa[7]" LOC = AT36;
#Bank 12
NET "c2_qdriip_sa[6]" LOC = AV38;
#Bank 12
NET "c2_qdriip_sa[5]" LOC = AY38;
#Bank 12
NET "c2_qdriip_sa[4]" LOC = AY37;
#Bank 12
NET "c2_qdriip_sa[3]" LOC = AU37;
#Bank 12
NET "c2_qdriip_sa[2]" LOC = BA37;
#Bank 12
NET "c2_qdriip_sa[1]" LOC = AP37;
#Bank 12
NET "c2_qdriip_sa[0]" LOC = AN36;
#Bank 12
NET "c2_qdriip_w_n" LOC = AW37;
#Bank 12
NET "c2_qdriip_r_n" LOC = AP35;
#Bank 12
NET "c2_qdriip_dll_off_n" LOC = AT35;
#Bank 13
NET "c2_qdriip_bw_n[0]" LOC = AP42;
#Bank 13
NET "c2_qdriip_bw_n[1]" LOC = AK34;
# JBC NET  "c2_qdriip_cal_done"                        LOC = "A16" ;          #Bank 35
# JBC NET  "c2_qdriip_compare_error"                   LOC = "B14" ;          #Bank 35
#Bank 13
NET "c2_qdriip_cq_p[0]" LOC = AL34;
#Bank 13
NET "c2_qdriip_cq_n[0]" LOC = AT40;

##################################################################################################
##QVLD pin(s) is/are not being used by the design rtl files.
##You may delete the following LOC constraint(s) to use this/these pin(s) for other signal(s).
##################################################################################################
#Bank 13
NET "c2_qdriip_qvld[0]" LOC = AU41;
##################################################################################################

#Bank 12
NET "c2_qdriip_k_p[0]" LOC = BB36;
#Bank 12
NET "c2_qdriip_k_n[0]" LOC = BA36;

# JBC
CONFIG INTERNAL_VREF_BANK13 = "0.75";
# JBC
CONFIG INTERNAL_VREF_BANK12 = "0.75";


########################################################################################
##Phase Detector Constraints:                                                         ##
########################################################################################

########################################################################################
##The phase detector must be on a pin that is within +/- 1 bank vertically relative   ##
##to the memory interface system MMCM.  It must also be within the range of the BUFIO ##
##driven by the CQ pin (+/- 1 bank for multi-region clock pins, same bank for non     ##
##multi-region) The pad is not used. If a different pin is chosen, the corresponding  ##
##LOC constraint must also be changed.                                                ##
########################################################################################

##Site: AY42 -- Bank: 13
#INST "mig_v3_61_qdrii_400Mhz/c2_u_user_top/u_qdr_phy_top/u_phy_read_top/nd_io_inst[0].gen_enable_pd.u_phy_qdr_pd/QDR2_PD_TRIP.u_pd_oserdes"
#  LOC = "OLOGIC_X0Y53";

########################################################################################
##Pin currently reserved for Phase Detector. The pin(s) prohibited below cannot be    ##
##used for other functions and should not be connected externally.                    ##
########################################################################################

CONFIG PROHIBIT = AY42;


######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################

#Banks 13, 23, 33
INST "mig_v3_61_qdrii_400Mhz/c2_u_infrastructure/u_mmcm_gen" LOC = MMCM_ADV_X0Y2;

######################################################################################
## AREA CONSTRAINTS                                                                 ##
######################################################################################

INST "mig_v3_61_qdrii_400Mhz/c0_u_user_top" AREA_GROUP = "pblock_c0_u_user_top";
AREA_GROUP "pblock_c0_u_user_top" RANGE=SLICE_X0Y180:SLICE_X7Y239;
AREA_GROUP "pblock_c0_u_user_top" RANGE=RAMB18_X0Y72:RAMB18_X0Y95;
AREA_GROUP "pblock_c0_u_user_top" RANGE=RAMB36_X0Y36:RAMB36_X0Y47;
INST "mig_v3_61_qdrii_400Mhz/c2_u_user_top" AREA_GROUP = "pblock_c2_u_user_top";
AREA_GROUP "pblock_c2_u_user_top" RANGE=SLICE_X0Y0:SLICE_X7Y99;
AREA_GROUP "pblock_c2_u_user_top" RANGE=RAMB18_X0Y0:RAMB18_X0Y39;
AREA_GROUP "pblock_c2_u_user_top" RANGE=RAMB36_X0Y0:RAMB36_X0Y19;
INST "mig_v3_61_qdrii_400Mhz/c1_u_user_top" AREA_GROUP = "pblock_c1_u_user_top";
AREA_GROUP "pblock_c1_u_user_top" RANGE=SLICE_X0Y100:SLICE_X7Y179;
AREA_GROUP "pblock_c1_u_user_top" RANGE=RAMB18_X0Y40:RAMB18_X0Y71;
AREA_GROUP "pblock_c1_u_user_top" RANGE=RAMB36_X0Y20:RAMB36_X0Y35;
