##-----------------------------------------------------------------------------
##
## (c) Copyright 2009 Xilinx, Inc. All rights reserved.
##
## This file contains confidential and proprietary information of Xilinx, Inc.
## and is protected under U.S. and international copyright and other
## intellectual property laws.
##
## DISCLAIMER
##
## This disclaimer is not a license and does not grant any rights to the
## materials distributed herewith. Except as otherwise provided in a valid
## license issued to you by Xilinx, and to the maximum extent permitted by
## applicable law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND WITH ALL
## FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS, EXPRESS,
## IMPLIED, OR STATUTORY, INCLUDING BUT NOT LIMITED TO WARRANTIES OF
## MERCHANTABILITY, NON-INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE;
## and (2) Xilinx shall not be liable (whether in contract or tort, including
## negligence, or under any other theory of liability) for any loss or damage
## of any kind or nature related to, arising under or in connection with these
## materials, including for any direct, or any indirect, special, incidental,
## or consequential loss or damage (including loss of data, profits, goodwill,
## or any type of loss or damage suffered as a result of any action brought by
## a third party) even if such damage or loss was reasonably foreseeable or
## Xilinx had been advised of the possibility of the same.
##
## CRITICAL APPLICATIONS
##
## Xilinx products are not designed or intended to be fail-safe, or for use in
## any application requiring fail-safe performance, such as life-support or
## safety devices or systems, Class III medical devices, nuclear facilities,
## applications related to the deployment of airbags, or any other
## applications that could lead to death, personal injury, or severe property
## or environmental damage (individually and collectively, "Critical
## Applications"). Customer assumes the sole risk and liability of any use of
## Xilinx products in Critical Applications, subject only to applicable laws
## and regulations governing limitations on product liability.
##
## THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS PART OF THIS FILE
## AT ALL TIMES.
##
##-----------------------------------------------------------------------------
## Project    : Virtex-6 Integrated Block for PCI Express
## File       : xilinx_pcie_2_0_ep_v6_08_lane_gen1_xc6vlx240t-ff1156-1-PCIE_X0Y1.ucf
#
###############################################################################
# Define Device, Package And Speed Grade
###############################################################################

CONFIG PART = xc6vlx240t-ff1759-2;

###############################################################################
# User Time Names / User Time Groups / Time Specs
###############################################################################

###############################################################################
# User Physical Constraints
###############################################################################


###############################################################################
# Pinout and Related I/O Constraints
###############################################################################


NET "extra_clk_p" NODELAY = "TRUE";
NET "extra_clk_p" TNM_NET = "extra_clk";
NET "extra_clk_p" IOSTANDARD = LVDS_25;
NET "extra_clk_p" DIFF_TERM = "TRUE";
NET "PicoFramework/extra_clk_p" LOC = AE30;
NET "extra_clk_n" NODELAY = "TRUE";
NET "extra_clk_n" TNM_NET = "extra_clk";
NET "extra_clk_n" IOSTANDARD = LVDS_25;
NET "extra_clk_n" DIFF_TERM = "TRUE";
NET "PicoFramework/extra_clk_n" LOC = AF30;
TIMESPEC TS_extra_clk = PERIOD "extra_clk" 5 ns;

#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

NET "sys_reset_n" TIG;
NET "sys_reset_n" NODELAY = "TRUE";
NET "sys_reset_n" IOSTANDARD = LVCMOS25;
NET "sys_reset_n" PULLUP;
NET "PicoFramework/sys_reset_n" LOC = R30;

#
#
# SYS clock 250 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-6 GT
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GT Transceiver.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-6 GT Transceiver User Guide 
# (UG) for guidelines regarding clock resource selection.
#

#INST "refclk_ibuf" LOC = IBUFDS_GTXE1_X0Y7;

#NET "sys_clk_n" LOC = V6;
#NET "sys_clk_p" LOC = V5;
INST "PicoFramework/refclk_ibuf" LOC = IBUFDS_GTXE1_X0Y3;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-6 GT Transceiver User Guide (UG) for more information.
#



# PCIe Lane 0
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[0].GTX" LOC = GTXE1_X0Y7;

# PCIe Lane 1
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[1].GTX" LOC = GTXE1_X0Y6;

# PCIe Lane 2
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[2].GTX" LOC = GTXE1_X0Y5;

# PCIe Lane 3
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[3].GTX" LOC = GTXE1_X0Y4;

# PCIe Lane 4
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[4].GTX" LOC = GTXE1_X0Y3;

# PCIe Lane 5
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[5].GTX" LOC = GTXE1_X0Y2;

# PCIe Lane 6
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[6].GTX" LOC = GTXE1_X0Y1;

# PCIe Lane 7
INST "PicoFramework/core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[7].GTX" LOC = GTXE1_X0Y0;


#
# PCI Express Block placement. This constraint selects the PCI Express
# Block to be used.
#

INST "PicoFramework/core/pcie_2_0_i/pcie_block_i" LOC = PCIE_X0Y0;



###############################################################################
# Timing Constraints
###############################################################################

#
# Timing requirements and related constraints.
#

NET "*s_rst*" TIG;
NET "*PicoRst*" TIG;
NET "*LNKUP*" TIG;

NET "PicoFramework/sys_clk_c" TNM_NET = "SYSCLK" ;
NET "PicoFramework/core*/pcie_clocking_i/clk_125" TNM_NET = "CLK_125" ;
NET "PicoFramework/core*/TxOutClk_bufg" TNM_NET = "TXOUTCLKBUFG";
NET "PicoFramework/core*/pcie_clocking_i/clk_250" TNM_NET = "CLK_250" ;
NET "PicoFramework/core*/pcie_clocking_i/clk_500" TNM_NET = "CLK_500" ;

TIMESPEC "TS_SYSCLK"  = PERIOD "SYSCLK" 250 MHz HIGH 50 % ;
TIMESPEC "TS_CLK_125"  = PERIOD "CLK_125" TS_SYSCLK/2 HIGH 50 % PRIORITY 100 ;
TIMESPEC "TS_TXOUTCLKBUFG"  = PERIOD "TXOUTCLKBUFG" 250 MHz HIGH 50 % PRIORITY 100 ;
TIMESPEC "TS_CLK_250" = PERIOD "CLK_250" TS_SYSCLK*1 HIGH 50 % PRIORITY 10;
TIMESPEC "TS_CLK_500" = PERIOD "CLK_500" TS_SYSCLK*2 HIGH 50 % PRIORITY 1;


NET "PicoFramework/core*/pcie_clocking_i/sel_lnk_rate_d" TIG ;
PIN "PicoFramework/core*/trn_reset_n_int_i.CLR" TIG ;
PIN "PicoFramework/core*/trn_reset_n_i.CLR" TIG ;
PIN "PicoFramework/core*/pcie_clocking_i/mmcm_adv_i.RST" TIG ;

#TIMESPEC "TS_RESETN" = FROM FFS(*) TO FFS(user_reset_n_i) 4 ns;

###############################################################################
# Physical Constraints
###############################################################################

#INST "PicoFramework" AREA_GROUP = "pblock_app_BMD";
#AREA_GROUP "pblock_app_BMD" RANGE=SLICE_X114Y120:SLICE_X161Y159;
#AREA_GROUP "pblock_app_BMD" RANGE=DSP48_X6Y48:DSP48_X7Y63;
#AREA_GROUP "pblock_app_BMD" RANGE=RAMB18_X5Y56:RAMB18_X7Y63, RAMB18_X7Y48:RAMB18_X7Y55, RAMB18_X5Y48:RAMB18_X5Y55, RAMB18_X4Y40:RAMB18_X5Y47;
#AREA_GROUP "pblock_app_BMD" RANGE=RAMB36_X5Y24:RAMB36_X7Y31, RAMB36_X4Y20:RAMB36_X5Y23;


###############################################################################
# End
###############################################################################



###############################################################################
# JBC - We are not using the spansion flash core on the M503
# However the flash core is in the netlist for now.
# These are unused pins just to get it to build
###############################################################################
# Flash
#NET FLASH_BUSY          LOC = AH31 	| IOSTANDARD = LVCMOS25 | PULLUP;

# Pin Group: FLASH_D
#NET FLASH_D<0>          LOC = AG31 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<1>          LOC = N33 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<2>          LOC = P33 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<3>          LOC = AK33 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<4>          LOC = AJ32	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<5>          LOC = Y30	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<6>          LOC = AA30 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<7>          LOC = AA31 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<8>          LOC = AB31 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<9>          LOC = R32 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<10>         LOC = T32 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<11>         LOC = AH30 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<12>         LOC = AJ30 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<13>         LOC = V31 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<14>         LOC = W31 	| IOSTANDARD = LVCMOS25;
#NET FLASH_D<15>         LOC = AJ31 	| IOSTANDARD = LVCMOS25;


# PlanAhead Generated physical constraints 

INST "PicoFramework" AREA_GROUP = "pblock_PicoFramework";
AREA_GROUP "pblock_PicoFramework" RANGE=SLICE_X112Y20:SLICE_X161Y79;
AREA_GROUP "pblock_PicoFramework" RANGE=DSP48_X6Y8:DSP48_X7Y31;
AREA_GROUP "pblock_PicoFramework" RANGE=RAMB18_X5Y8:RAMB18_X8Y31;
AREA_GROUP "pblock_PicoFramework" RANGE=RAMB36_X5Y4:RAMB36_X8Y15;
