NET "*scg/clkout0" TNM_NET = sys_clk_falsepath_grp;
NET "*pipe_clock_i/clk_250mhz" TNM_NET = CLK_250_falsepath;
NET "*pipe_clock_i/userclk2" TNM_NET = CLK_USERCLK2_falsepath;

TIMESPEC "TS_clk_250_to_sys_clk" = FROM CLK_250_falsepath TO sys_clk_falsepath_grp TIG;
TIMESPEC "TS_sys_clk_to_clk_250" = FROM sys_clk_falsepath_grp TO CLK_250_falsepath TIG;

TIMESPEC "TS_clk_userclk2_to_sys_clk" = FROM CLK_USERCLK2_falsepath TO sys_clk_falsepath_grp TIG;
TIMESPEC "TS_sys_clk_to_clk_userclk2" = FROM sys_clk_falsepath_grp TO CLK_USERCLK2_falsepath TIG;

NET "*sys_rst" TIG;